<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
        RewriteRule ^(.*)/$ /$1 [L,R=301]

        # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteBase /wp32/sharereports/public
</IfModule>

SetEnv SLIM_HOST localhost
SetEnv SLIM_NAME sharerepo
SetEnv SLIM_USER sharerepousr
SetEnv SLIM_PASS hogehoge
SetEnv SLIM_DNS mysql:dbname=sharerepo;host=localhost